---
import '../styles/app.scss'
import '../components/Script.astro'

const url = 'https://hisamikurita.github.io/fake-image/'
const title = 'fake-image'
const description = 'fake-image using threejs'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content={title} />
    <meta property="og:image" content={`${url}ogp.jpg`} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="icon" href={`${url}favicon.ico`} />
    <link rel="apple-touch-icon" href={`${url}apple-touch-icon.png`} />
  </head>
  <body>
    <slot />
  </body>
</html>
